extends layout

block content
  title The IV Drip
  body
    .container-fluid
      h4 Recently Aired
      hr
      .row
        for playlist in recentlyAired
          .col-md-4
            h5 #{playlist.title}
            iframe(src= playlist.url, width='300', height='350', frameborder='0', allowtransparency='true')

      h4 DJ's Picks
      hr
      .row
        .col-md-4
          h5 Killer Ladies [IVD 2/22]
          iframe(src="https://open.spotify.com/embed/user/04g30cjey9d0jerbgv7hzvnv4/playlist/5bRe5rypKumn4aaqCJiqnP", width="300", height="350", frameborder="0", allowtransparency="true")
        .col-md-4
          h5 Good Vibes Only [IVD 3/1]
          iframe(src="https://open.spotify.com/embed/user/04g30cjey9d0jerbgv7hzvnv4/playlist/5xyOoT3xRIK0EPVqZ4Beuq", width='300', height='350', frameborder='0', allowtransparency='true')
        .col-md-4
          h5 punk's not dead [IVD 2/15]
          iframe(src="https://open.spotify.com/embed/user/04g30cjey9d0jerbgv7hzvnv4/playlist/0P69gKsRXRoWAqWH5rdXsb" width="300", height="350", frameborder="0", allowtransparency="true")

      h4 Best of the Week's
      hr
      .row
        for playlist in bestOfWeek
          .col-md-4
            h5 #{playlist.title}
            iframe(src= playlist.url, width='300', height='350', frameborder='0', allowtransparency='true')
