extends layout

block content
  script(type="text/javascript"). 
    var allPlaylists = !{allPlaylists} // now data can be accessed with jquery
  title The IV Drip
  body
    .container-fluid
      h4 Recently Aired
      hr
      .row
        for playlist in recentlyAired
          .col-sm-4
            h5 #{playlist.title}
            iframe(src= playlist.url, width='300', height='350', frameborder='0', allowtransparency='true')
        p
          | more

      h4 DJ's Picks
      hr
      .row
        .col-sm-4
          h5 Playlist 1
          iframe(src='https://open.spotify.com/embed/user/04g30cjey9d0jerbgv7hzvnv4/playlist/1LNXBnXUArXW88bkaVm1IX', width='300', height='350', frameborder='0', allowtransparency='true')
        .col-sm-4
          h5 Playlist 2
          iframe(src='https://open.spotify.com/embed/user/04g30cjey9d0jerbgv7hzvnv4/playlist/5xyOoT3xRIK0EPVqZ4Beuq', width='300', height='350', frameborder='0', allowtransparency='true')
        .col-sm-4
          h5 Playlist 3
          iframe(src='https://open.spotify.com/embed/user/04g30cjey9d0jerbgv7hzvnv4/playlist/5bRe5rypKumn4aaqCJiqnP', width='300', height='350', frameborder='0', allowtransparency='true')
        p
          | more
      h4 Browse All
      hr
      .row
        for playlist in allPlaylists
          .col-sm-4
            h5 #{playlist.title}
            iframe(src= playlist.url, width='300', height='350', frameborder='0', allowtransparency='true')
