extends layout

block content
  script(type="text/javascript"). 
    var allPlaylists = !{allPlaylists} // now data can be accessed with jquery
  style(media='screen').
    .jumbotron{
    text-align:center;
    }
    .col-sm-4{
    padding-bottom: 20px;
    }
    #logo{
    max-width: 20%;
    height: auto;
    border-radius: 50%;
    }
    @media (min-width: 576px) {
    .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px; //for resizing jumbotron
    }
    }
  title The IV Drip
  body
    // Jumbotron
    .jumbotron
      img#logo(src='images/logo.png', alt='Logo')
      h1 The IV Drip
      p
        | A weekly dose of the latest and/or greatest in alt rock, featuring highlights from the best of the week's albums!
    .container-fluid
      h4 Recently Aired
      hr
      .row
        for playlist in recentlyAired
          .col-sm-4
            h5 #{playlist.title}
            iframe(src= playlist.url, width='300', height='350', frameborder='0', allowtransparency='true')
        p
          | more

      h4 Recommended
      hr
      .row
        .col-sm-4
          h5 Playlist 1
          iframe(src='https://open.spotify.com/embed/user/04g30cjey9d0jerbgv7hzvnv4/playlist/1LNXBnXUArXW88bkaVm1IX', width='300', height='350', frameborder='0', allowtransparency='true')
        .col-sm-4
          h5 Playlist 2
          iframe(src='https://open.spotify.com/embed/user/04g30cjey9d0jerbgv7hzvnv4/playlist/5xyOoT3xRIK0EPVqZ4Beuq', width='300', height='350', frameborder='0', allowtransparency='true')
        .col-sm-4
          h5 Playlist 3
          iframe(src='https://open.spotify.com/embed/user/04g30cjey9d0jerbgv7hzvnv4/playlist/5bRe5rypKumn4aaqCJiqnP', width='300', height='350', frameborder='0', allowtransparency='true')
        p
          | more
      h4 Browse All
      hr
      .row
        for playlist in allPlaylists
          .col-sm-4
            h5 #{playlist.title}
            iframe(src= playlist.url, width='300', height='350', frameborder='0', allowtransparency='true')
