extends layout

block additionalHead
  script(type='text/javascript', src='/scripts/nextShow.js')
  style(type='text/css').
    .row {
      margin-bottom: 50px;
    }
    #player-box{
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    margin-left: 40px;
    margin-right:40px;
    }
    
    #live-in{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -70px;
    }
    
    #countdown{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      margin-top: -20px;
    }
    
block content
  title The IV Drip
  body
    .row
      h4#live-in We're live in...
    .row
      #countdown
    .container-fluid.text-center
      h3 Recently Aired
      hr
      .row
        for playlist in recentlyAired
          .col-md-4
            h5 #{playlist.title}
            iframe(src= playlist.url, width='300', height='350', frameborder='0', allowtransparency='true')

      h3 DJ's Picks
      hr
      .row
        .col-md-4
          h5 Killer Ladies [IVD 2/22]
          iframe(src="https://open.spotify.com/embed/user/04g30cjey9d0jerbgv7hzvnv4/playlist/5bRe5rypKumn4aaqCJiqnP", width="300", height="350", frameborder="0", allowtransparency="true")
        .col-md-4
          h5 Good Vibes Only [IVD 3/1]
          iframe(src="https://open.spotify.com/embed/user/04g30cjey9d0jerbgv7hzvnv4/playlist/5xyOoT3xRIK0EPVqZ4Beuq", width='300', height='350', frameborder='0', allowtransparency='true')
        .col-md-4
          h5 punk's not dead [IVD 2/15]
          iframe(src="https://open.spotify.com/embed/user/04g30cjey9d0jerbgv7hzvnv4/playlist/0P69gKsRXRoWAqWH5rdXsb" width="300", height="350", frameborder="0", allowtransparency="true")

      h3 Best of the Week's
      hr
      .row
        for playlist in bestOfWeek
          .col-md-4
            h5 #{playlist.title}
            iframe(src= playlist.url, width='300', height='350', frameborder='0', allowtransparency='true')
