html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet")
    link(rel='stylesheet', href='stylesheets/style.css')
    // jQuery Countdown CSS 
    link(rel='stylesheet', href='stylesheets/countdown/jquery.countdown.css')
    
    // jQuery
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    //jQuery countdown
    script(type='text/javascript', src='scripts/countdown/jquery.plugin.js')
    script(type='text/javascript', src='scripts/countdown/jquery.countdown.js')
    //Ajax
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    //Icon library
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    //Bootstrap JS
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
  block additionalHead
  body
      // Jumbotron
      .jumbotron
        // Navbar
        nav.navbar.navbar-expand-md.navbar-dark
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
            span.navbar-toggler-icon
          // Navbar links
          #collapsibleNavbar.collapse.navbar-collapse
            ul.navbar-nav.routes
              li.nav-item
                a.nav-link(href='/') Home
              li.nav-item
                a.nav-link(href='/howtolisten') How to Listen
              li.nav-item
                a.nav-link(href='/blog') Blog
              li.nav-item
                a.nav-link(href='/search') Search Playlists
            ul.navbar-nav.ml-auto
              iframe#follow(src='https://open.spotify.com/follow/1/?uri=spotify:user:04g30cjey9d0jerbgv7hzvnv4&size=basic&theme=dark', width='300', height='25', scrolling='no', frameborder='0', style='border:none; overflow:hidden;', allowtransparency='true')
        img#logo(src='images/logo.png', alt='Logo')
        h1 The IV Drip
        p
          | A weekly dose of the latest and/or greatest in alt rock, featuring highlights from the best of the week's albums!
        p Thursdays 12-2pm | 89.3 FM | 
          a#live-stream(href='/howtolisten') Live Stream
  
block content

// Footer
footer.page-footer.font-small.pt-0.text-center
  // Footer Links
  .container
    // First row
    .row
      // First column
      .col-md-12
        .mb-5.flex-center
          // Twitter
          a(href='https://twitter.com/theivdrip?lang=en').tw-ic
            i.fa.fa-twitter.fa-3x
          // Spotify
          a(href='https://open.spotify.com/user/04g30cjey9d0jerbgv7hzvnv4?si=khT2NX2wT2aMetEoA30znw').sp-ic
            i.fa.fa-spotify.fa-3x
      .footer-copyright 
        | Brought to you by:
        a#wtbu(href='http://sites.bu.edu/wtbu/')  WTBU Radio 
  // /Copyright
// /Footer
