extends layout

block additionalHead
  script(type='text/javascript', src='/scripts/nextShow.js')
  style(type='text/css').
    .row {
      margin-bottom: 50px;
    }
    
    #title{
      text-align: center;
    }
    
    #live-in{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0px;
    }
    
    #countdown{
      margin-left: auto;
      margin-right: auto;
      margin-top: -40px;
      margin-bottom: -80px;
    }
    
    #player-box{
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      vertical-align: middle;
    }
    
    #next-show-box{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      vertical-align: middle;
    }
    
    #countdown-container{
      position: absolute;
      color: black;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 25px;
    }
    
    .section-title{
      width:100%; 
      text-align:center; 
      border-bottom: 1px solid #000; 
      line-height:0.3em; 
      margin-right: auto;
      margin-left: auto;
    }
    
    .section-title span{
      padding:0 10px;
    }
    
    .section-title { 
      width:100%; 
      text-align:center; 
      border-bottom: 1px solid #000; 
      line-height:0.1em; 
      margin:10px 0 20px; 
      margin-bottom: 40px;
    } 
      
    .section-title span { 
      background:#f9f9f9; 
      padding:0 10px; 
    }
    
    .col-md-8{
      margin: auto;
      text-align: center;
    }
    
    #phone-img {
      height: 70%;
      width: 70%;
      display: block;
      margin: auto;
      opacity: .5;
      max-width: 50%;
    }
    
    #wtbu-img{
      border-radius: 25px;
      max-width: 175px;
      min-width: 175px;
    }
    
    .img-container {
      position: relative;
      text-align: center;
      margin-bottom: 50px;
    }

    

block content
  title How to Listen
  body
    h2#title How to Listen
    .img-container
      img#phone-img(src='../images/listen.jpg', alt='Listen')
      #countdown-container
        .row
          h4#live-in We're live in...
        .row
          #countdown
    .row
      .col-md-8
        h3.section-title
          span Stream Here
        #player-box
          h5#player-name Listen here <b> Thursdays at 12pm</b>!
          p WTBU Live Stream:
          audio(controls='')
            source#player-src(src='http://wtbu.bu.edu:1800/', type='audio/mpeg')
    //- .row
    //-   #next-show-box
    //-     h4 Next show: 
    //-       span#next-show 
    .row
      .col-md-8
        h3.section-title
          span iOS App
        p iOS users can stream The IV Drip on the go with the free 
          a#live-stream(href='https://itunes.apple.com/us/app/wtbu/id1161247222?mt=8') WTBU app
        img#wtbu-img(src='../images/wtbu.jpg', alt='WTBU App')
    .row
      .col-md-8
        h3.section-title
          span Radio
        p The IV Drip broadcasts on the following stations:
        p 89.3 FM | 640 AM | BU Channel 6
       
    
