extends layout

block additionalHead
  script(type='text/javascript', src='/scripts/search.js')
  style(type='text/css').
    .search {
      display: flex;
      margin-bottom: 10px;
      align-items: center;
    }
    label {
      font-size: 28px;
      padding-right: 5px;
    }
    input {
      height: 28px;
    }
    .search{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #clear{
      height:28px;
      background-color: #2EA788;
    }
    

block content
  title Search Playlists
  .container-fluid.text-center
    .search
      label Search Playlists by Title:
      input.search-box(type='text')#search-term
      button#clear Clear
    hr
    .row
      for playlist in allPlaylists
        .col-md-4
            div(class='playlist')
              h5 #{playlist.title}
              iframe(src= playlist.url, width='300', height='350', frameborder='0', allowtransparency='true')
