extends layout

block additionalHead
  script(type='text/javascript', src='/scripts/search.js')
  style(type='text/css').
    .search {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    }
    label {
    font-size: 30px;
    }
    input {
    height: 30px;
    }
    

block content
  title Search Playlists
  .container-fluid
    .search
      label Search Playlists by Title:
      input.search-box(type='text')
    hr
    .row
      for playlist in allPlaylists
        .col-sm-4
            div(class='playlist')
              h5 #{playlist.title}
              iframe(src= playlist.url, width='300', height='350', frameborder='0', allowtransparency='true')
