/*
Colors:
teal : #2EA788
black: #222222
gray on jumbo: #bdc3cc

other colors that go well
#594064
#a7442e
#a7812e
#a72e7b
#a7a7a7

*/


body {
  font-family: "Source Sans Pro", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f9f9f9;
  color: black;
}

.routes{
  text-align: left;
  margin-left: -8px;
}


.jumbotron{
  text-align:center;
  background:url('../images/banner.png');
  color: #bdc3cc;
  border-radius: 0px;
}
.col-md-4{
  padding-bottom: 20px;
}

nav {
    margin-top: -10px;
    background:transparent;
}

.navbar-dark .routes .nav-link {
  color: #bdc3cc;
}

.navbar-dark .routes .nav-link:hover{
  color: #2EA788;
}

#clear{
  height:28px;
  background-color: #2EA788;
}

#live-stream{
  color: #2EA788;
}

#logo{
  padding-top: -20px;
  max-width: 17%;
  max-height: 17%;
  /* height: auto; */
  border-radius: 50%;
}
#follow{
  text-align: left;
  margin-right: -160px;
  margin-left: -8px;
}
@media (min-width: 576px) {
  .jumbotron {
    background:url('../images/banner.png');
    color: #bdc3cc;
    border-radius: 0px;
    padding-top: 5px;
    padding-bottom: .5px; //for resizing jumbotron
  }
}

/* .navbar-nav li a {
  line-height: 15px;
} */

.fa{
  color: #2EA788;
  font-size: 48px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
}

.footer-copyright{
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: #bdc3cc;
  margin-bottom: 20px;
}

footer{
  background:url('../images/banner.png');
  color: white;
  margin-top: 50px;
  overflow: hidden;
}

#wtbu{
  color: #2EA788;
}
